<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>78</key>
	<string>bj_lottery_hbydj</string>
	<key>74</key>
	<string>bj_lottery_hlydj</string>
	<key>72</key>
	<string>bj_lottery_xyydj</string>
	<key>62</key>
	<string>bj_lottery_ydj</string>
	<key>91</key>
	<string>bj_lottery_basketball</string>
	<key>39</key>
	<string>bj_lottery_dlt</string>
	<key>90</key>
	<string>bj_lottery_footerball</string>
	<key>63</key>
	<string>bj_lottery_p3</string>
	<key>64</key>
	<string>bj_lottery_p5</string>
	<key>3</key>
	<string>bj_lottery_qxc</string>
	<key>19</key>
	<string>bj_lottery_rx9</string>
	<key>1</key>
	<string>bj_lottery_sfc</string>
	<key>68</key>
	<string>jdd_buy_main_newk3</string>
	<key>67</key>
	<string>jdd_buy_main_k3</string>
	<key>13</key>
	<string>jdd_buy_main_n7l</string>
	<key>6</key>
	<string>jdd_buy_main_3d</string>
	<key>5</key>
	<string>jdd_buy_main_ssq</string>
</dict>
</plist>
